@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Happy Dog!</h1>
        <div class="row m-5">            
            <div class="col border"><h3>Fullness: <span style="color: green;"> @ViewBag.Fullness</span></h3></div>
            <div class="col border"><h3>Happiness: <span style="color: green;"> @ViewBag.Happiness</span></h3></div>
            <div class="col border"><h3>Energy: <span style="color: green;"> @ViewBag.Energy</span></h3></div>
        </div>

    <img src="~/img/DSC_2834.JPG" alt="Winner" style="max-height: 70vh; border: 2px solid gray;">
    <div class="row">
        <div class="col"><a href="/"><button class="btn btn-primary m-2"> Play Again?</button></a></div>
    </div>
</div>
