@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VesperDachi</h1>
    <div class="col border p-5">
        <h1>Taking Care of Vesper!</h1>
        <img src= "~/img/DSC_8914.JPG" alt="vesper" style="max-height: 40vh; border: 2px solid gray;">
    </div>
    <h2>Vesper is just a puppy, and requires a lot of attention.</h2>
    <h2>This game will help you to be a good doggy parent and take care of her!</h2>
    <h2>Try to get Vesper's Energy, Fullness and Happiness up to 100!</h2>
    <a href="/home"><button class="btn btn-primary m-3">Play Game</button></a>
    </div>
</div>
